@font-face {
  font-family: "YOUSHEhaoshenti";
  src: url(/fonts/YOUSHEhaoshenti.ttf) format("truetype");
}

@font-face {
  font-family: "Work Sans";
  src: url(/fonts/WorkSans.ttf) format("truetype");
}
